@font-face {
    font-family: 'biryani';
    src: url('../fonts/biryani-extralight-webfont.woff2') format('woff2'),
        url('../fonts/biryani-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Google Icon */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/googleIcon.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

.caption {
    text-shadow: 4px 4px 10px black,
        -4px -4px 10px black;
}

nav,
footer {
    background-image: linear-gradient(to left, #25c487, #2dfeed, #25c487);
}

body {
    font-family: 'biryani';
    background-color: rgb(77, 76, 76)
}

.parallax-container {
    height: 20%;
}

.glow {
    text-shadow: 5px 5px 10px #2dfeed,
        -5px -5px 10px #2dfeed;
}

.parallax img {
    opacity: 0.5 !important;
}

.clients img {
    max-width: 200px;
}

.card-panel,
.progress .determinate {
    background-color: #2dfeed;
}

.card-panel,
.collection {
    box-shadow: 0 0 10px 3px #000000;
}

section.contact .card-panel {
    position: relative;
    top: 15px;
}

form .collection {
    padding: 0 20px;
}

img.materialboxed {
    border: 3px inset #2dfeed;
}

footer {
    padding: 1px 0;
}